@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;

}
:root{
	--Very-dark-blue: hsl(212, 21%, 14%);
	--Dark-grayish-blue: hsl(228, 12%, 48%);
	--White: hsl(0, 0%, 100%);
	--Dark-cyan: hsl(158, 36%, 37%);
	--more-Dark-cyan: hsl(158, 36%, 20%);
	--Cream: hsl(30, 38%, 92%);

	--ff-base:"Montserrat",sans-serif;
	--ff-accent:"Fraunces",serif;
}
body{
	/*general change*/
	line-height: 1.7;
	-webkit-font-smoothing:antialiased;
	/*project change*/
	font-size: 0.875rem;
	min-height: 100vh;
	background-color: var(--Cream);
	margin: 1.25rem;
	font-family: var(--ff-base);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	/*margin-left: 50%;*/
}
.right{
	width:50%;
}
.right img{
	width:100%;
	height: 100%;
	object-fit: cover;
	/*border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;*/


}
 .attribution {
  font-size: 11px; text-align: center; 
}
 .attribution a { 
 	color: hsl(228, 45%, 44%); 
}
.container{

	background-color: var(--White);
	--content-padding:1.5rem;
	--content-spacing:1rem;
	border-radius: 0.8rem;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.04);
	margin-bottom: 0.5rem;
	max-width: 666px;
	/*width:60%;*/
	margin: 0.1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow:hidden;
	/*display:grid;*/
}
.left{
	padding: var(--content-padding);
	display:grid;
	gap:var(--content-spacing);
	width: 50%;
}
.price{
	display: flex;
	gap:1.5rem;
	align-items: center;

}
.left p:nth-child(1){
	font-size: 0.825rem;
	text-transform: uppercase;
	color:var(--Dark-grayish-blue);
	letter-spacing: 5.5px;
}
.product_title{
	font-size: 2.3rem;
	font-family: var(--ff-accent);
	color:var(--Very-dark-blue);
}
h1,h2{
	line-height: 1.1;

}
.price h1{
	font-family: var(--ff-accent);
	color:var(--Dark-cyan);
	font-size: 2.3rem;
}
.description,.price p{
	color:var(--Dark-grayish-blue);
}
.button{
	background-color: var(--Dark-cyan);
	color:var(--White);
	cursor: pointer;
	text-decoration:none; 
	display:inline-flex;
	justify-content: center;
	align-items: center;

	gap:1rem;
	border:0;
	padding:0.5em 1.2em;
	font-size: 0.800rem;
	border-radius: 0.5rem;
	margin-bottom: 0.555em;


}
.button[data-icon="shopping-cart"]::before{
	content: "";
	background-image:url("./images/icon-cart.svg");
	width: 15px;
	height:16px;

}
.button:is(:hover,:focus){
		background-color: var(--more-Dark-cyan);
}

@media(max-width:469px){
	.container{
		display:flex;
		flex-direction: column;
		margin-top: 1rem;
		margin-bottom: 1rem;
		align-items: center;
		justify-content: center;

	}
	.right img{
		content: url("./images/image-product-mobile.jpg");
	}
	.right{
		width:100%;
		height:40%;
	}
	.left{
		width:100%;
	}
	.left .product_title{
		padding-right: 0;
	}
	.right img{

	}
}
